<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <% if (!user) { %>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
  <% } else { %>
    <p>Logged in as <%= users[user_id].email %></p>
    <form action= "/logout" method= "POST">
      <input type="submit" value="Logout">
    </form>
  <% } %>
</body>
</html>