<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <form action= "/login" method= "POST" style="margin:0px;">
    <input id="username" type="text" name="username" placeholder="Username" style="width: 200px">
    <input type="submit" value="Sign In">
  </form>
  <% if (username) { %>
    <p>Logged in as <%= username %></p>
  <% } %>
</body>
</html>