<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <h2>URLs</h2>

      <ul>
        <% for(url in urls) { %>
          <li><%= url %> : <% url[urls] %></li>
        <% }; %>
      </ul>

      <p><a href=>Shorten New Link</a></p>

</body>
</html>